<div class="container py-5">

  <div class="row">
    <div class="col-sm-12">
      <div class="d-flex justify-content-between">
        <ul class="nav">
          <li class="nav-item mx-2">
            <button pTooltip="رجوع" tooltipPosition="right" type="submit" class="btn btn-outline-secondary"><i class="pi pi-arrow-right"></i></button>
          </li>
          <li class="nav-item">
            <h5> تذكرة رقم #2342</h5>
          </li>
        </ul>
      <div>
        <button pTooltip=" تعديل تذكرتك " tooltipPosition="bottom"  class="btn btn-outline-secondary "><i class="pi pi-file-edit"></i> تعديل </button>
      </div>
    </div>
    </div>
    <div class="col-md-7">
      <app-chart-apex></app-chart-apex>
    </div>
    <div class="col-md-4">
      <app-card></app-card>
    </div>

    <div class="col">
      <app-table></app-table>
    </div>
  
</div>